.TimelineTrack {
    display: flex;
    height: 50px;
    background-size: contain;
    justify-content: space-between;
    position: relative;
}

.TimelineTrack__CropHandle {
    display: inline-block;
    height: 100%;
    background: rgba(255,255,255,0.666);
    width: 25px;
    flex-shrink: 0;
    flex-grow: 0;
}

.TimelineTrack__CropHandle:hover {
    background: white;
}

.TimelineTrack__CropHandle:active {
    background: #cdcdcd;
}

.TimelineTrack__CropHandle.left {
    cursor: e-resize;
    border-left: 1px solid #cdcdcd;
}

.TimelineTrack__CropHandle.right {
    cursor: w-resize;
    border-right: 1px solid #cdcdcd;
}

.TimelineTrack__NudgeHandle {
    display: inline-block;
    flex-grow: 1;
    cursor: grab;
}

.TimelineTrack__NudgeHandle:hover {
    background: rgba(255,255,255,0.2);
}

.TimelineTrack__NudgeHandle:active {
    cursor: grabbing;
    background: rgba(0,0,0,0.2);
}

.TimelineTrack__VolumeHandle {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid green;
    background: greenyellow;
    cursor: ns-resize;
}